footer{
  height: 106px;
  width: 100%;
  background-color: #D9D9D9;
  bottom: 0;
  left: 0;
  position: fixed;
}
.element-footer{
  text-align: center;
}
.img-footer{
  color: #c4c4c4;
  width: 31px;
  height: 31px;
  margin: 25px 10px 10px 0px;
}
.text-footer{
  margin-top: 10px;
  color: #373867;
  font-weight: 500;
}
@media screen and (min-width:768px) {
  .text-footer{
    text-align: center;
    margin-left: 5px;
  }
}
  