<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="../css/reset.css" rel="stylesheet">  
    <link href="../css/style.css" rel="stylesheet">   
    <link href="../css/header.css" rel="stylesheet">   
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/aside.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/sing-up.css" rel="stylesheet">
    <script src="../javascript/sing-up.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </head>
  <body>
    <header>
      <nav class="menu-header">
        <div class="btn-header">
          <i class="fa-solid fa-bars"></i>
          <span class="title-header">Trackgenix</span>                 
        </div> 
        <div >
          <ul class="ul-header">          
            <li><a href="AboutPage">About Trackgenix</a></li>
            <li><a href="FuntionsPage">Functions</a></li>
            <li><a href="InfoPage">Info</a></li>
            <li><a href="HistoryPage">History</a></li>
            <li><a href="#">Products & Services </a></li>
          </ul> 
        </div>   
      </nav>        
    </header>
    <aside>
      <form>
        <input class="search" type="text" placeholder="Search">
      </form>
      <p class="title-aside">Menu</p>
      <p class="border-aside"></p>
      <div>
        <ul>
          <li class="items-aside">
            <i class="fa-solid fa-house-chimney"></i>
            <a class="text-aside" href="home.com">Home</a>
          </li>
          <li class="items-aside">
            <i class="fa-solid fa-user-plus"></i>         
            <a class="text-aside" href="SingIn">Sign Up</a>
          </li>
          <li class="items-aside">    
            <i class="fa-solid fa-user"></i>
            <a class="text-aside" href="Login">Login</a>
          </li>             
          <li class="items-aside">  
            <i class="fa-solid fa-comment"></i>
            <a class="text-aside" href="Contact">Contact</a>
          </li>
        </ul>  
      </div> 
      <div id="Getintouch">
        <p class="title-aside margin-top">Get in Touch</p>
        <p class="border-aside"></p>
        <div>
          <ul>
            <li class="items-aside">
              <i id="hola" class="fa-solid fa-envelope"></i>
              <span class="text-aside" >info@gigantech.com</span>
            </li>
            <li class="items-aside">
              <i class="fa-solid fa-phone"></i>
              <span class="text-aside" >(+000)000-000000</span>
            </li>
            <li class="items-aside">
              <i class="fa-sharp fa-solid fa-map-pin"></i>
              <span class="text-aside">1234 Somewhere Road SomeWhere,XX 000-0000</span>
            </li>
          </ul>
        </div> 
      </div>    
    </aside>
    <main class="container-flex-form-sing">
      <section class="section-login">
        <div class="container-title"> 
          <h1 class="main-title-login">Trackgenix</h1>
          <h2 class="text-main-login">GigaTech Software Solutions SA</h2>
          <div class="container-paragraph-login-">
            <p class="paragraph-login">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
      </section>
      <section class="conteiner-form">       
        <div class="form-sing">
          <a>Sing In</a>
          <a class="overline-sing-in">Sing Up</a>
        </div>
        <form class="sing-up-form" id="sing-up-form">
          <div class="flex-campo">
            <div class="flex-input">
              <label class="form-label">First name</label>
              <input id="Register-name" class="input-form" type="text" placeholder="Carlos">
              <p id="Register-name-p" class="form-input-error">name only accept alphabetic characters</p>
            </div>
            <div class="flex-input">
              <label class="form-label">Last name</label>
              <input id="Register-Lastname" class="input-form" type="text" placeholder="Martinez">
              <p id="Register-Lastname-p" class="form-input-error">Last name only accept alphabetic characters</p>
            </div>
          </div>
          <div class="flex-campo">
            <div class="flex-input">
              <label class="form-label">DNI</label>
              <input id="Register-DNI" class="input-form" type="text" placeholder="12345678">
              <p id="Register-DNI-p" class="form-input-error">Only accept numeric characters and more than 7 nums</p>
            </div>
            <div class="flex-input">
              <label class="form-label">Date of birth</label>
              <input class="input-form" type="date" placeholder="mm/dd/aaaa">
            </div>
          </div>
          <div class="flex-campo">
            <div class="flex-input">
              <label class="form-label">Phone</label>
              <input id="Register-Phone" class="input-form" type="text" placeholder="+54 0 00 0000 0000">
              <p id="Register-Phone-p" class="form-input-error">Only accept numeric characters and more than 10 digit</p>
            </div>       
            <div class="flex-input">     
              <label class="form-label">Locality</label>
              <input id="Register-Locality" class="input-form" type="text" placeholder="Buenos Aires">
              <p id="Register-Locality-p" class="form-input-error">Only accept alphabetic and at least 3 characters</p>
            </div>
          </div>
          <label class="form-label">Address</label>
          <input id="Register-Address" class="input-address" type="text" placeholder="St. example ,1234">
          <p id="Register-Address-p" class="form-input-error">At least 5 characters with letters, numbers and a space in between.</p>
          <div class="flex-campo">
            <div class="flex-input">
              <label class="form-label">Postal code</label>
              <input id="Register-PostalCode" class="input-form" type="text" placeholder="11111">
              <p id="Register-PostalCode-p" class="form-input-error">Only accept numeric characters and </p>
            </div>
            <div class="flex-input">
              <label class="form-label">Email</label>
              <input id="Register-Email" class="input-form" type="text" placeholder="name@radium.com">
              <p id="Register-Email-p" class="form-input-error">The email is not correct</p>
            </div>
          </div>
          <div class="flex-campo">
            <div class="flex-input">
              <label class="form-label">Password</label>
              <input id="Register-Password" class="input-form" type="password" placeholder="********">
              <p id="Register-Password-p" class="form-input-error">Accepted length is between 4 and 12 characters</p>
            </div>
            <div class="flex-input">
              <label class="form-label">Repeat Password</label>
              <input id="Register-Password2" class="input-form" type="password" placeholder="********">
              <p id="Register-Password2-p" class="form-input-error">Passwords do not match</p>
            </div>
          </div>  
        </form>
        <div class="container-center">          
          <p>You not have account?</p>          
          <button id="btn-Register"  class="btn-register">Register</button>    
          <p id="form-message-successful" class="form-message-successful">Registration was successful</p>
          <p id="form-message-wrong" class="form-message-wrong">Error, some field are incorrect </p>
        </div>                        
      </section>
    </main>
    <footer>
      <div class="element-footer">
        <i class="fa-brands fa-linkedin img-footer"></i>
        <i class="fa-brands fa-twitter img-footer"></i>
        <i class="fa-brands fa-facebook img-footer"></i>
        <i class="fa-brands fa-instagram img-footer"></i>
        <i class="fa-brands fa-github img-footer"></i>
        <p class="text-footer">Copyright © 2022 Radium Rocket. All rights reserved.</p>
      </div>
    </footer> 
    <script src="../javaScript/sing-up.js"></script>
  </body>
</html>