html{
  background-color: #373867;
}
.section-login{
  margin-right: 115px;  
}
.container-flex-form-sing{
  display: flex;
  justify-content: center;
  align-items:center;
  color: #fff;  
  margin-top: 195px;
}
.main-title-login{  
  color: #fff;
  margin: 20px 100px 0px 20px;
}
.text-main-login{
  color: #fff;
  margin: 20px 0px 25px 20px;
}
.paragraph-login{
  color: #fff;
  margin: 20px 0px 25px 20px;
  width: 383px;
}
.form-sing{
  margin-top:10px;
}
.form-sing a{
  margin-right:10px;
}
.overline-sing-in{
  text-decoration:underline 3px;
}
.conteiner-form{
  width: 500px;
  height: 620px;
  background-color: #fff;
  border: solid #373867 1px;
  padding: 10px;
  border-radius: 10px;
}
.sing-in-form{  
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 50px;
}
.input-form{
  padding: 5px 12px;
  border-radius: 4px;
  margin-bottom: 25px;
}
.flex-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
label{
  color: #373867;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
a{
  color: #373867;
  font-size: 16px;
  font-weight: 500;
}
.check-box{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 65px;
}
.btn-register{
  padding: 14px 36px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color:#373867;
  border-radius: 4px;
  border:solid #373867 2px;
  margin:25px 0px; 
}
.btn-sing-in{
  padding: 14px 36px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color:#fff;
  background-color: #373867;
  border-color: #373867;
  border-radius: 4px;
  margin:25px 0px; 
}