html{
  background-color: #373867;
}
.section-login{
  margin-right: 115px;  
}
.container-flex-form-sing{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 195px;
}
.main-title-login{  
  color: #fff;
  margin: 20px 100px 0px 20px;
}
.text-main-login{
  color: #fff;
  margin: 20px 0px 25px 20px;
}
.paragraph-login{
  color: #fff;
  margin: 20px 0px 25px 20px;
  width: 383px;
}
.form-sing{
  margin-top:10px;
}
.form-sing a{
  margin-right:10px;
}
.overline-sing-in{
  text-decoration:underline 3px;
}
.conteiner-form{
  width: 500px;
  height: 660px;
  background-color: #fff;
  border: solid #373867 1px;
  padding: 10px;
  border-radius: 10px;
}
.sing-in-form{  
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 50px;
}
.input-form{
  padding: 10px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  height: auto;
  width: 200px;
}
.flex-input{
  display: flex;
  flex-direction: column;
}
label{
  color: #373867;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
a{
  color: #373867;
  font-size: 16px;
  font-weight: 500;
}
.check-box{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 65px;
}
.btn-register{
  padding: 14px 36px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color:#373867;
  border-radius: 4px;
  border:solid #373867 2px;
  margin:25px 0px; 
}
.btn-sing-in{
  padding: 14px 36px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color:#fff;
  background-color: #373867;
  border-color: #373867;
  border-radius: 4px;
  margin:35px 0px; 
}
.sing-up-form{
  display: flex;
  flex-direction: column;
  margin:30px 20px 0px 20px;
}
.flex-campo{
  display: flex;
}
.flex-input{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 10px;
}
.input-address{
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 97%;
  height: auto;
}
.container-center{
  text-align: center;
  margin-top: 10px;
}
.form-input-error{
  font-size: 10px;
  margin-bottom: 0px;
  display:none;
  color: red;
}
.form-input-error-active{
  display: block;
}
.form-message-successful{
  font-size: 20px;
  color: #fff;
  height: 45px;
  line-height:45px;
  border-radius: 5px;
  background-color: green;
}
.form-message-wrong{
  font-size: 20px;
  color: #fff;
  height: 45px;
  line-height:45px;
  border-radius: 5px;
  background-color: rgb(213, 13, 13);
}

.flex-input-wrong .form-label{
  color: red;
}
.flex-input-wrong .input-form{
  padding: 10px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  height: auto;
  width: 200px;
  border-color: red;
}
