
a{
    text-decoration: none;
  }
   
  header{
    width:100%;
    height:105px;
    background: #D9D9D9; 
    border-bottom: #373867 solid;      
  }
  .title-header{
    color: #373867;
    font-weight: 700;
    font-size: 14px;
    line-height:16.41px ;
  }
  .menu-header{
    padding-top: 50px;
    margin-left: 50px;
  }
  .btn-header{
    float: left;
    padding-left: 20px;
  }
  
  /**NAVEGACION**/
  nav li{        
    float:right;
    padding-left: 40px;
  }
  nav ul a{
    color: #373867;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  ul ul{
    display: none;
  }
  
  /*Aside*/
  aside{
    background-color: #D9D9D9;
    height: 100%;
    width: 291px;
    border-right: #ebeaea solid 8px;
  }
  .search{
    width: 260px;
    height: 37px;
    border-radius: 4px;
    margin-left:10px ;
    margin-top: 25px;
  }
  .title-aside{
    color: #373867;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    margin-left: 50px;
    margin-top: 40px;
  }
  .border-aside{
    border-bottom: #373867 solid ;
    width: 212px;
    margin: 5px 0px 20px 20px;
  }
  .img-aside{
    width:20px;
    height: 20px;
    color: #373867;
    margin-right: 10px;
  }
  .text-aside{
    font-size: 14px;
    font-weight: 500;
    color:#373867;
  }
  .margin-top{
    margin-top: 300px;
  }
  .items-aside{
    padding: 10px;
    margin-left: 25px;
  }
  
  /*MAIN */
  #img-main{
    width: 507px;
    height:500px;
    float:right;
  }
   
  h1{
    font-size:40px;
    font-weight:700;
    color: #373867;
    margin-bottom: 168px;
  }
  .text-main{
    font-size: 20px;
    font-weight:400;
    color: #373867;
    width: 486px;
    margin-bottom: 38px;
  }
  .container-paragraph-main{
    padding:30px 0px;
    width: 410px;
    background-color:#D9D9D9;
    margin-top: 38px;
  }
  .paragraph-main{  
    font-size:14px;
    font-weight:400;
    margin: 0px 20px;
    text-indent: 2;
    line-height: 24px;
  }
  
  .btn-LearnMore{
    padding: 14px 36px ;
    text-align: center; 
    color: #373867;  
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #373867;
    margin:42px 0px 264px 0px;  
  }
  .container-section{
    height: 770px;
    width: 1221px;
    float: right;
  }
  .title-section{
    font-weight: 700;
    font-size: 40px;
    color: #373867;
    margin-bottom: 71px;
  }
  
  .img-section{
    width: 150px;
    height: 150px;
  }
  
  .text-section{
    font-size: 20px;
    font-weight: 400;
    color: #373867;
  }
  
  .p-section{
    width: 363px;
    height: 84px;
    font-size: 15px;
    font-weight: 400;
    color: #373867;  
    line-height: 24px;
  }
  .float-section{
    float: right;
    margin-top: 35px;
  }
  .container-article{
    width: 530px;
  }
  .float-right{
    float: right;
  }
  /*Formulario*/
  .form-main{
    height: 565px;
    width: 332px; 
    margin-left: 140px;
  }
  .label-form{
  font-weight: 500;
  font-size: 14px;
  color: #373867;
  margin-bottom: 10px;
  display: block;
  }
  .input-form{
    width: 260px;
    height: 37px;
    margin-bottom: 20px;
  }
  textarea{
    width: 260px;
    height: 97px;
  }
  
  /*FOOTER*/
  footer{
    height: 106px;
    background-color: #D9D9D9;
    display: inline-block;
  }
  .element-footer{
    text-align: center;
  }
  .img-footer{
    background-color: #c4c4c4;
    margin-top: 25px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin: 0px 10px;
  }
  .text-footer{
    margin-top: 10px;
    color: #373867;
    font-weight: 500;
  }
  .btn-send{
    padding: 10px 24px ;
    text-align: center; 
    color: #373867;  
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #373867;
    margin:42px 0px 264px 0px;
  }
